.comment
  =l comment.created_at, format: :short
  by
  = comment.author
  \:
  = comment.body

  - comment_form_container_id = "comment-form-container-#{comment.id}"
  = button_tag class: 'btn btn-link', data: {toggle: 'collapse', target: "##{comment_form_container_id}"} do
    = t('.comment')
  .comment-form-container{id: comment_form_container_id, class: 'collapse out'}
    = render partial: 'web/stories/comments/form', locals: {story: comment.story, comment: comment.children.build}

  .comment-children
    = render partial: 'web/stories/comments/comments', locals: {comments: child_comments}
