%h4= t('views.story_filter.title')
= search_form_for query do |f|
  = f.label :author_email_cont, 'Author'
  = f.text_field :author_email_cont
  = f.label :author_email_cont, 'Owner'
  = f.text_field :owner_email_cont
  = f.label :state_eq, 'State'
  = f.select :state_eq, Story.state_names, include_blank: true
  %br
  = f.submit class: 'btn'