%h1 Listing stories

%table.table
  %tr
    %th Title
    %th Description
    %th Author
    %th Owner
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.title
      %td= story.description
      %td= story.author
      %td= story.owner
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Story', new_story_path
