%p
  %b Title:
  = @story.title
%p
  %b State:
  = @story.human_state_name
%p
  %b Description:
  = @story.description
%p
  %b Author:
  = @story.author
%p
  %b Owner:
  = @story.owner

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path

= render partial: 'comments/form', locals: {comment: Comment.new, story: @story}

%h2 Comments
= render partial: 'comments/comment', collection: @story.comments
