%p#notice= notice

%p
  %b Title:
  = @story.title
%p
  %b State:
  = @story.state
%p
  %b Description:
  = @story.description
%p
  %b Author:
  = @story.author
%p
  %b Owner:
  = @story.owner

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
