%p
  %b #{Story.human_attribute_name(:title)}:
  = @story.title
%p
  %b #{Story.human_attribute_name(:state)}:
  = @story.human_state_name
%p
  %b #{Story.human_attribute_name(:description)}:
  = @story.description
%p
  %b #{Story.human_attribute_name(:author)}:
  = @story.author
%p
  %b #{Story.human_attribute_name(:owner)}:
  = @story.owner

= link_to t('helpers.links.edit'), edit_story_path(@story)
\|
= link_to t('helpers.links.back'), stories_path

= render partial: 'comments/commentation', locals: {story: @story}