%p
  %b #{Story.human_attribute_name(:title)}:
  = @story.title
%p
  %b #{Story.human_attribute_name(:state)}:
  = @story.human_state_name
%p
  %b #{Story.human_attribute_name(:description)}:
  = @story.description
%p
  %b #{Story.human_attribute_name(:author)}:
  = @story.author_name
%p
  %b #{Story.human_attribute_name(:owner)}:
  = @story.owner_name

= link_to t('helpers.links.edit'), edit_story_path(@story)
\|
= link_to t('helpers.links.back'), stories_path

.commentation
  = render partial: 'web/comments/form', locals: {comment: Comment.new, story: @story}

  %h2= t('.comments_title')
  = render partial: 'web/comments/comments', locals: {comments: @comments}